@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --primary-color : #49A195;
    --bg-color: #333;
    --text-color-w: #fff;
    --bg-nav: #444444;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* min-height: 100vh; */
    background-color: var(--bg-color);
    color: var(--text-color-w);
    font-family: 'Poppins', sans-serif;
    font-size:  16px;
    
}

h2, h3 {
    margin-bottom: 1.4rem;
}

ul {
    list-style: none;
    margin-bottom: 2rem;
}

li {
    background-color: #1c5b53;
    border-radius: 4px;
    padding: 2rem 1rem;
    box-shadow: 4px 4px 10px 5px rgba(255, 255, 255, 0.6);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
}

.pokemon-app {
    max-width: 600px;
    margin: 300px auto;
}


.btn {
    font-size: inherit;
    font-family: inherit;
    padding: .8rem 1.5rem;
    text-transform: uppercase;
    background-color: #444444;
    color: #fff;
    border: none;
    border-radius: 3px;
    transition: all .2s ease-in;
}

.btn:hover {
    transform: scale(.8);
    background-color: #7a7a7a;
}

.navbar {
    background-color: var(--bg-nav);
    text-align: center;
    padding: 1rem 0;
    font-size:  40px;
    border-bottom: 1px solid #fff;
    box-shadow: 0 4px 20px 5px rgba(0, 0, 0, .4);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}

#loadingMessage {
    font-size: 3rem;
    text-align: center;
}

@media screen and (max-width: 658px) {
    .navbar {
        font-size: 20px;
    }

    body {
        font-size: 12px;
    }

    .pokemon-app {
        max-width: 60%;
    }
}

@media screen and (max-width: 400px) {
    .navbar {
        font-size: 12px;
    }

    body {
        font-size: 10px;
    }

    .pokemon-app {
        max-width: 45%;
        margin: 100px auto;
    }

    h2, h3 {
        margin-bottom: .9rem;
    }

    li {
        padding: 1rem 0;
        margin: 4rem 0;

    }
}